<%- include("partials/head") -%>

<div class="box" id="heading">
  <h1><%= listTitle %></h1>
</div>

<div class="box box-container glass">
  <div class="glass">
    <div class="item">
      <input type="checkbox" name="checkbox" value="1" />
      <!-- Replace with static item ID -->
      <p>Sample Task 1</p>
    </div>

    <div class="item">
      <input type="checkbox" name="checkbox" value="2" />
      <!-- Replace with static item ID -->
      <p>Sample Task 2</p>
    </div>

    <div class="item">
      <input type="checkbox" name="checkbox" value="3" />
      <!-- Replace with static item ID -->
      <p>Sample Task 3</p>
    </div>

    <form class="item" action="/" method="post">
      <input
        type="text"
        name="newItem"
        placeholder="New Item"
        autocomplete="off"
      />
      <button type="submit" name="list" value="Your To-Do List Title">+</button>
    </form>
  </div>
  <div class="btn-class d-flex justify-content-center">
    <button class="btn btn-primary btn-block col-6 .text-center" type="button">
      Save
    </button>
  </div>
</div>

<%- include("partials/footer") -%>
