html {
  background-color: #e4e9fd;
  background: linear-gradient(to top, #c2e59c,#64b3f4);
  min-height: 1000px;
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  padding: 0;

}
body{
  margin: 0;
  padding: 0;
}

h1 {
  color: black;
  padding: 10px;
  transition: 0.4s ease;
}


/* Style the navigation bar */
header {
  background-color: #32a3ee;
  color: #fff;
  padding: 1rem;
  display: flex; /* Add flex display */
  justify-content: space-between; /* Space between h1 and nav */
  align-items: center; /* Vertically center items */
  margin: 0 10rem;
  border-radius: 1rem;
}
.navbar-brand {
  text-decoration: none;
  color: #f0f0f0
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: right; /* Align the links to the right */
}

nav li {
  display: inline;
  margin-right: 20px;
}

nav a {
  text-decoration: none;
  color: #fff;
  font-weight: bold;
  transition: color 0.3s ease;
}

nav a:hover {
  color: #00bcd4;
}


.box {
  max-width: 400px;
  margin: 50px auto;
  background: white;
  border-radius: 5px;
  box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.3);
  }
.box h1:hover{
  background: linear-gradient(to top, #c2e59c,#64b3f4);
  color: white;
  border: 1px;
  border-radius: 25px;
}

#heading {
  background: white;
  color: black;
  text-align: center;
  border-radius: 25px;
  cursor:default;
  border: 1px;
}

.item {
  min-height: 70px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #f1f1f1;

}

.item:last-child {
  border-bottom: 0;
}

input:checked + p {
  text-decoration: line-through;
  text-decoration-color: #a683e3;
}

input[type="checkbox"] {
  margin: 15px;
  cursor:pointer;
}

p {
  margin: 0;
  padding: 20px;
  font-size: 20px;
  font-weight: 200;
  color: #00204a;
}

form.item {
  text-align: center;
  margin-left: 20px;
}

button {
  min-height: 50px;
  width: 51px;
  border-radius: 32%;
  border-color: transparent;
  background-color: #2d2d2d;
  color: #fff;
  font-size: 30px;
  padding-bottom: 1px;
  border-width: 0;
  cursor: pointer;
}

input[type="text"] {
  text-align: center;
  height: 60px;
  top: 10px;
  border-color: transparent;
  background: transparent;
  font-size: 20px;
  font-weight: 200;
  width: 313px;
  cursor: pointer;
}

input[type="text"]:focus {
  outline: none;
  box-shadow: inset 0 0px 0 0 #797979;
  cursor: pointer;
}

::placeholder {
  color: grey;
  opacity: 1;
}

footer {
  color: rgb(0, 0, 0);
  text-align: center;
}

footer .note{
  color: white;
}

.glass{
  background: white;
  border-radius: 20px;
  border:1px solid rgba(255, 255, 255, 0.18);
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
  
}

